.RequestCallBack-title-startup
{
    width: 208px;
    position: fixed;
    right: 5px;
    bottom: 0;
    z-index: 10000;
    padding: 7px 10px 7px 10px;
    background-color: #B03060;
    color: #fff;
    text-decoration: none;
    border: 2px solid #c13560;
    border-bottom: 2px solid #fff;
    font-family: Century Gothic;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.RequestCallBack-title-change
{
    width: 208px;
    position: fixed;
    right: 5px;
    bottom: 12px;
    z-index: 10000;
    padding: 7px 10px 7px 10px;
    background-color: #B03060;
    color: #fff;
    text-decoration: none;
    border: 2px solid #c13560;
    font-family: Century Gothic;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-align: center;
}
.RequestCallBack-iframe-content
{
    width: 208px;
    height: 0px;
    overflow: hidden;
    border: 2px solid #c13560 !important;
    z-index: 999;
    position: fixed;
    padding: 5px;
    right: 5px;
    bottom: 0;
    border: 1px solid #ccc;
    background-color:#fff;
}
@media (max-width: 767px) 
{
    #RequestCallBack-title-11
    {
        display:none;
    }
    #RequestCallBack-callnow-11
    {
        display:block;
         background-color: green;
    border: 1px solid green;
    border-radius: 30px;
  
    bottom: 0;
    color: #fff;
    font-family: Century Gothic;
    font-size: 12px;
    left: 5px;
    padding: 0px 0px;
    position: fixed;
    text-align: center;
    text-decoration: none;
    width: 105px;
    z-index: 10000;
    
    
    
    
    }
     #RequestCallBack-Iframe-11
    {
        display:none;
    }
}
@media (min-width: 768px) 
{
    #RequestCallBack-title-11
    {
        display:block;
    }
    #RequestCallBack-callnow-11
    {
        display:none;
        
    }
    #RequestCallBack-Iframe-11
    {
        display:block;
    }
}






.blink_text {
-webkit-animation-name: blinker;
-webkit-animation-duration: 2s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;

-moz-animation-name: blinker;
-moz-animation-duration: 2s;
-moz-animation-timing-function: linear;
-moz-animation-iteration-count: infinite;

 animation-name: blinker;
 animation-duration: 2s;
 animation-timing-function: linear;
 animation-iteration-count: infinite;

 color: white!important;
}

@-moz-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@-webkit-keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }
