<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>


<system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="Redirect to https" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />


 </rule>
            </rules>
        </rewrite>


    </system.webServer>





  <appSettings/>
  <connectionStrings>
    <add name="con" connectionString="server=103.21.58.193; uid=EdiwebsAjay; pwd=Magic@312#67; database=EdiwebsDB" providerName="System.Data.SqlClient"/>
    
    <!--<add name="con2" connectionString="server=tamazglobal.database.windows.net; uid=tamazglobal; pwd=Indiacare@2017; database=tamazglobal"/>
    <add name="EdilystCommerceConnectionString" connectionString="Data Source=tamazglobal.database.windows.net;Initial Catalog=tamazglobal;User ID=tamazglobal;Password=Indiacare@2017" providerName="System.Data.SqlClient"/>-->

    <add name="con2" connectionString="server=97.74.236.242; uid=tamazglobal; pwd=Indiacare@2017; database=tamazglobal"/>
    <add name="EdilystCommerceConnectionString" connectionString="Data Source=97.74.236.242;Initial Catalog=tamazglobal;User ID=tamazglobal;Password=Indiacare@2017" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<machineKey
  validationKey="70C6A74A89F79A3260F96B22A5BB93ECBC9143478B2337445ED6235826D68E6A4614E8A241B74AAD1888AFDB9C913B845324E2F445C1A164DE22F74B85CD494D"
  decryptionKey="11E396B329388EFDDCF1986791FC5CD3BED9B8978864E2B43705D699D1A934D2"
  validation="SHA1" decryption="AES"

/>-->

<system.webServer>
<httpErrors errorMode="Detailed" />
<asp scriptErrorSentToBrowser="true"/>
 <staticContent>
        <clientCache cacheControlMode="UseExpires"
           httpExpires="Tue, 19 Jan 2038 03:14:07 GMT" />
     </staticContent>
</system.webServer>


  <system.web>
    <trust level="Full"/>
    <httpRuntime maxRequestLength="5000"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <sessionState timeout="45"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
          The <authentication> section enables configuration 
          of the security authentication mode used by 
          ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
           The <customErrors> section enables configuration 
           of what to do if/when an unhandled error occurs 
           during the execution of a request. Specifically, 
           it enables developers to configure html error pages 
           to be displayed in place of a error stack trace.
  -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <machineKey validationKey="70C6A74A89F79A3260F96B22A5BB93ECBC9143478B2337445ED6235826D68E6A4614E8A241B74AAD1888AFDB9C913B845324E2F445C1A164DE22F74B85CD494D" decryptionKey="11E396B329388EFDDCF1986791FC5CD3BED9B8978864E2B43705D699D1A934D2" validation="SHA1" decryption="AES"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>