<div [class]="relative">
	<header [class]="absolute">
		<nav class="navContainer">
		<ul class="unorderList">
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">HouseWork</a></li>
			<li><a href="#">MarketWork</a></li>
			<li><a href="#">BabyWork</a></li>
			<li><a href="#">OfficeWork</a></li>
			<li><a href="#">PaymentWork</a></li>
			<li><a href="#">OtherWork</a></li>
			<li><a href="#">VillageWork</a></li>
		</ul>
		</nav>
	</header>
	
</div>

<!-- <header data-actiove="home"></header> -->
