* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	background-color: tomato;

}

.main-Wrapper {
	width:calc(100% - 80px);
	background-color: #CCC;
	margin:10px auto;
	border:10px solid transparent;
	height: 1000px;
}
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right:20px;
	z-index: 99;
	border:none;
	outline: none;
	background-color: tomato;
	background-image: url(../../image/roshan/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
}

#myBtn:hover {
	background-color: #555;
}
img {
	width:100px;
	height: 150px;
	display: block;
}
.right {
	width:100px;
	height: 150px;
	margin-top:calc(100% - 150px);
	margin-left:calc(100% - 100px);
}