* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.main-wrapper {
	width: 100%;
	height: 100%;
	/*margin:0;*/
	/*background-color: #0AB;*/
}

.bar {
	display: none;
}

.row {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	}

.row::after,.nav-wrapper ul::after {
		content: "";
		display: table;
		clear: both;
	}

.col-50 {
		float:left;
		width: 50%;
		}

.row .col-50:nth-child(1){
		/*background-color: #FFF;*/
		/*width: 300px;*/
	}	
	
.row .col-50:nth-child(2){
		position: absolute;
		right: 0;
		bottom: 60%;
		/*background-color: #0AB;*/
	}


.nav-wrapper ul {
		width: 100%;
		list-style-image:url('../image/roshan/bullet.png');
		list-style-position: inside;
	}
.nav-wrapper li {
		float: left;
		width: 18%;
		padding-right: 5px;
	}

.nav-wrapper a {
		/*box-sizing: border-box;*/
		display: block;
		width: 100%;
		height: 58px;
		text-decoration: none;
		text-align: center;
		color:#ffc733;
		text-shadow: 0px 1px #000;
	}
.nav-wrapper a:hover  {
		color: #FFF;
	}
/*nav end*/
.section-wrapper {
	position: static;
	margin-top: 250px;
	height: 400px;
}
/************imageGallery********/
.imageGallery {
	width: 80%;
	margin: 0 auto;
}
img {
	display: block;
	width: 100%;
	height: 480px;
}
/************slider********/
	.slider-Wrapper {
		position: relative;
	}
	.backIcon > span{
	 position: absolute;
    top: 45%;
    left: 80px;
    transform: rotate(45deg);
	}
	.backIcon > span ,.frontIcon > span{
	border: 1px solid;
    border-color: transparent transparent #251641 #251641;
	width: 24px;
    height: 24px;
    display: inline-block;
    cursor: pointer; 
	}
	.frontIcon > span {
		position: absolute;
    	top: 45%;
     	right: -50px;
    	transform: rotate(-135deg);
	}

	/*.backIcon > button:focus ,.frontIcon > button:focus{
		outline: none;
	}*/
	.frontIcon {
		position: absolute;
		right: 10%;
		bottom: 50%;	
	}
	

/*****************/
	
.footer {
		width: 100%;
		margin-top: 20px;
		padding: 20px;
		background-color: #25a5bf;
		text-align: center;
		position: fixed;
		bottom: 0;
		right: 0;
	}


@media screen and (max-width: 600px){
	.col-50,.nav-wrapper li {
		width: 100%;
	}
	.nav-wrapper  {
		display: none;
		margin-top: 100px;
	}
	.bar {
		display: block;
		float: left;
	}
	.line1,.line2,.line3 {
		display: block;
		width: 50px;
		height: 5px;
		margin-bottom: 2px;
		background-color: orange;
	}
}