body {
	font-family: sans-serif;
	font-size: 1vw;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
:root {
    --main-bg-color: #25a5bf; 
}

.main-wrapper {
	width: 100%;
	height: 100%;
}

.bar {
	display: none;
}

.row {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	}

.row::after,.nav-wrapper ul::after {
		content: "";
		display: table;
		clear: both;
	}

.col-50 {
		float:left;
		width: 50%;
		}

.row .col-50:nth-child(1){
		/*background-color: #FFF;*/
		/*width: 300px;*/
	}	
	
.row .col-50:nth-child(2){
		position: absolute;
		right: 0;
		bottom: 65%;
		width: 40%;
	}


.nav-wrapper ul {
		width: 100%;
		list-style-image:url('../image/roshan/bullet_small.png');
	}

.nav-wrapper li {
		float: left;
		width: 18%;
		padding: 1px;
		margin-right: 5px;
	}

.nav-wrapper a {
		display: block;
		color:#076d88;
	}
.nav-wrapper a:hover  {
		color: red;
	}
/*nav end*/
.section-wrapper {
	position:relative;
	margin-top: 170px;
	margin-bottom: 0;
	height: 480px;
}

/************imageGallery********/
.imageGallery {
	width: 80%;
	margin: 0 auto;
}
 .imageGallery > span > img {
	display: block;
	width: 100%;
	height: 480px;
}
/************slider********/
	.slider-Wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		flex-flow: row wrap;
	}

	.backIcon,.imageGallery,.frontIcon {
	flex: 0 0 ;
	}

	.backIcon,.frontIcon {
	flex-basis: 10%;
	width: 5em;
	height: 5em; 
	position: relative;
	top:50%;
	}
	.imageGallery {
	flex-basis: 70%;
	}
	.backIcon > span{
	position: absolute;
    top: 20%;
    left: 70%;
    transform: rotate(45deg);
	}
	.backIcon > span ,.frontIcon > span{ 
	border: 1px solid;
    border-color: transparent transparent #251641 #251641;
	width: 3em;
    height: 3em;
    display: inline-block;
    cursor: pointer;
	}
	.frontIcon > span {
		position: absolute;
    	top: 20%;
     	left: -9%;
    	transform: rotate(-135deg);
	}
/****take-to-tour***/
	.take-to-tour {
	background-color: var(--main-bg-color);
	padding: 10px 15px;
	position: absolute;
	bottom: 0%;
	right: 15%;
	transition: all .8s linear 0s;
	width: 20%;
	height: 130px;
	text-align: center;
}
.take-to-tour > span {
	padding: 10px 15px;
}

.link-allItem {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

	

/*************footer****/
footer{
	width: 100%;
	position: relative;
	bottom: 0;
	right: 0;
	margin-top: 50px;
	padding: 10px;
	background-color: #25a5bf;
	z-index: 100;
}	
.footer {
		display: flex;
		flex-flow: row wrap; 
		width: 100%;
		border-bottom: .1em solid #000;
		padding: 10px;
		
	}
.foot-col1,.foot-col2,.foot-col3 {
	flex: 1 0 30%;

}
.foot-col1 {
	position: relative;
	color:#000;
	display: flex;
	flex-flow:row wrap;

}
.foot-col1  span {
	flex: 1 0 ;
	padding: 10px;
	margin-right: 5px;
	text-decoration: underline;
	cursor:pointer;
}
.Connect-with-us-footer  a {
	margin-right: 5px;
	padding: 10px;
}

.copy-right {
	text-align: center;
}
.tool-tip {
		width:100%;
		background-color: var(--main-bg-color);
		font-size: .8em;
		padding: 6px;
		position: absolute;
    	z-index: 222;
    	bottom: 150%;
    	left: 0%;
		border-radius: 5px;
		border:1px solid black;
	}
.cancellation:hover,.payment:hover,.price-details:hover{
	color: #FFF;
}	
.Cancellation-policy {
	display: none;
	bottom: 125%;
    left: 0%;
    font-size: 1.2em;
	}
.Cancellation-policy > .footer-table {
	width:100%;
	border-collapse: collapse;
}
.Cancellation-policy > .footer-table > tr td  {
	padding: 5px 0;
}
.Cancellation-policy > .footer-table  td {
	width:100px;
}

.cancellation:hover ~ .Cancellation-policy,.payment:hover ~ .Payment-Terms,.price-details:hover ~ .price-according-person {
	display:block;
}
.Payment-Terms {
	display: none;
	bottom: 125%;
    left: 30%;
    font-size: 1.1em;
}
.price-according-person {
	display: none;
	bottom: 125%;
    left: 60%;
    font-size: 1.1em;
}
.tool-tip::after {
	content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--main-bg-color) transparent transparent transparent;
}

/****footer brand icon***/

	.foot-col2::after{
		content: "";
		display: table;
		clear: both;
	}
	.foot-col2_sub_info,.foot-col2_sub_info_icon {
		width: 50%;
		float: left;
	}
	.brand_icon_menu {
		list-style-type: none;
	}
	.brand_icon_menu li {
		display: inline-block;
		margin-right: 15px;
	}
	.brand_icon_menu li a {
		display: block;
		width: 20px;
		height:20px;
		color: black;
		font-size: 20px;
	}

/*•••••link-info-for-package•••••*/
	.link .link-info-for-package {
		list-style-type: none;
		display: flex;
		flex-flow: row wrap;
		background-color: var(--main-bg-color);
		padding: 10px 20px;
	}
	.link-info-for-package > li {
		flex:1 0 13%;
	}
	.link-info-for-package > li a {
		display: block;
		color: #000;
		text-decoration: none;
		transition: all .4s;
		font-weight: bold;
		text-transform: lowercase;
		height: 20px;
		line-height: 20px;
	}
	.link-info-for-package > li a:hover{
			background-color: #EA363E;
			color: #000;
			padding: 0 10px;
			border-radius: 10px;
		}

/******singaporePackage.html******/


.section-singaporePackage {
	width:90%;
	margin:200px auto 100px auto;
	/*border:1px solid red;*/
	display: flex;
	flex-flow: column wrap;
}

.section-singaporePackage .section-child:nth-child(1) {
	/*border:1px solid red;*/
	text-align: center;
}
.section-singaporePackage .section-child:nth-child(1) > h1 {
	border-bottom: 3px solid var(--main-bg-color);
	width: 25%;
	margin: 0 auto;
}
.section-singaporePackage .section-child:nth-child(3){
	text-align: center;
	padding: 20px 0;
}

.days img {
	width:100%;
	display:block;
}

.all-day-Container {
	/*border:1px solid blue;*/
	display: flex;
	flex-flow: column wrap;
}
 .days {
 	display: flex;
 	flex-flow: row wrap;
 }

 .childs {
 	flex:1 0 50%;
 	padding: 5px;
 }

 .day-one div:nth-child(2),.day-Two div:nth-child(2),.day-Three div:nth-child(2),
 .day-Four div:nth-child(2),.day-five div:nth-child(2),.day-Eight div:nth-child(2)
 {
 	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 	font-size: 1.4vw;
 }
 .day-one div:nth-child(2)::first-line,.day-Two div:nth-child(2)::first-line,.day-Three div:nth-child(2)::first-line,
 .day-Four div:nth-child(2)::first-line,.day-five div:nth-child(2)::first-line,.day-Eight div:nth-child(2)::first-line{
 	color:#EA363E;
 }

 .imgWrapper {
 	position: relative;
	background-color: transparent;
	color: transparent;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .imgChild {
 	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
 }
 .imgChild h3 {
		width: 100%;
		height: 300px;
		line-height: 300px;
		text-align: center;
		color: #F69D4B;
	}

 .imgWrapper:hover .imgChild {
		color: #FFF;
		background-color: rgba(00,00,00,0.5);
	} 

 .info_wrapper-day6-day7 >.info-table-day6and7 {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.6vw;
}
.info-table-day6and7 tr th {
	padding: 10px;
	background-color: var(--main-bg-color); 
}

.info-table-day6and7 tr td {
	padding: 10px;
	text-align: center;
}

/*••••••••••package-information••••••••••*/

.package-info-parent {
	display:flex;
	flex-flow: column wrap;
}

.package-info-parent > .details-child {
	margin:10px;
	padding: 10px;
	/*box-shadow: -1px -1px 1px  var(--main-bg-color);*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-shadow:1px 1px 10px rgba(0,0,0,0.3);

}
.package-info-parent > .details-child h2 {
	background-color: var(--main-bg-color);
	text-align: center;
	padding: 5px;
}
.package-info-parent > .details-child:nth-child(1) p{
	padding: 10px 2px;
	/*text-shadow:2px 2px 5px var(--main-bg-color);*/
}

.package-info-parent > .details-child :not(h2){
	font-size: 1.2em;
}

.package-include > ul, .exclude ul {
	list-style-image:url('../image/roshan/bullet_small.png');
	list-style-position: inside;
}
.package-include > ul > li,.exclude ul > li {
	padding: 5px;
}

.payment-info > p {
	padding: 15px 50px;
}

.cancellation-info > table {
	width:100%;
	border-collapse: collapse;
	font-size: .8em !important;

}

.cancellation-info > table tr td,.cancellation-info > table th {
	padding: 7px;
}

.note > p {
	padding: 8px 10px;
	letter-spacing: 1px;
}
.contact-us > address {
	padding: 10px 20px;
}
.contact-us > address span {
	margin-right: 25px;
}

.contact-us > address i {
	color:var(--main-bg-color);
}

	


@media screen and (max-width: 600px){

	.col-50,.nav-wrapper li {
		width: 100%;
	}

	.row .col-50:nth-child(2){
		position: absolute;
		right: 0;
		bottom: 10%;
		width: 40%;
	}

	.Cancellation-policy ,.Payment-Terms ,.price-according-person{
	bottom: 133%;
    font-size: 1em;
	}

	.imgWrapper h3 {
		visibility: hidden;
	}

	.link .link-info-for-package {
		flex-flow: column wrap;
	}
	.link .link-info-for-package li {
		margin-bottom: 20px;
		font-weight: bold;
		font-size: 1.3em;
	}

}